/* header */
    #header {
        width:100%;
        height:60px;
        padding:0 3rem;
        display: flex;
        justify-content: space-between;
        background-color:#2b2b2be3;
        display: flex;
        align-items: center;
        position:absolute; top:0; left:0;
        z-index:100;
    }
    #logo_wrap {
        height: 100%;
        padding:0.5rem 0;
    }
    #header #logo {
        height:100%;
    }
    #nav {
        height:100%;
        position: relative;
    }
    #nav > ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height:100%;
    }
    #nav > ul > li {
        margin-left:3rem;
        position: relative;
    }
    #nav > ul > li > a {
        position: relative;
        cursor:pointer;
    }
    #nav > ul > li > ul {
        position: absolute;
        top:52px; right:-15px;
        list-style: none;
        background-color: #2b2b2be3;
        padding:20px;
        opacity:0;
        z-index:-1;
        transition:all 0.2s;
    }
    #nav > ul > li > ul.act {
        opacity: 1;
        z-index: 100;
        top:42px;
    }
    #nav > ul > li > ul > li:not(:last-child) {
        margin-bottom:10px;
    }
    #nav > ul > li > ul > li {
        cursor:pointer;
        position:relative;
        height:25px;
        overflow: hidden;
    }
    #nav > ul > li > ul > li > .underline {
        width:100%;
        border-top:1px solid #fff;
        position:absolute;
        left:-100%;
        transition: all 0.2s;
    }
    #nav > ul > li > ul > li:hover .underline {
        left:0;
    }

/* content */
    #content { position:relative; width:100vw; height:100vh; }
    #content > section { width:100vw; height:100%; position:absolute; top:0; z-index:1; transition:all 1s; }
    #content > section.now { z-index:3; }
    #content > section.next { z-index:2; }
    #content > section.up { top:100%; }
    #content > section.down { top:-50%; }

    .page {
        width:100%;
        height:100vh;
        overflow: hidden;
        position: relative;
    }
    .page .bg {
        position: absolute;
        width:100%;
        height:100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .page .desc {
        color:#fff;
        position: absolute;
        opacity:0;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
    }
    .page .desc.e {
        opacity:1;
    }
    #page1 .bg { transition: all 1s; }
    #page1 .bg.s {
        transform: scale(2);
    }
    #page1 .bg.e {
        transform: scale(1);
    }
    #page1 .logo_wrap {
        position: absolute;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
    }
    #page1 .logo_wrap { transition: all 1s; }
    #page1 .logo_wrap.s {
        width:40rem;
        opacity:1;
    }
    #page1 .logo_wrap.e {
        width:40rem;
        opacity:0;
    }
    #page1 .logo_wrap > img { width:100%; }
    .hu_txt {
        display:none;
    }
    #page1 .tw-title {
        font-size:3rem;
        font-weight: bold;
    }
    #page1 .tw-title::after {
        content: "|";
        color:#fff;
        transition: all 0.1s;
        animation: blink 0.5s linear infinite alternate;
    }
    @keyframes blink {
        0%{ opacity:0 }
        100%{ opacity:1 }
    }


/* footer */
    #page5 .page {
        display: flex; flex-direction:column;
    }
    #page5 .page iframe {
        flex-grow: 1;
    }
    footer {
        padding:2em;
        background:#313131;
        font-size:1.25rem; color:#fff; line-height: 2rem;
        display: flex; justify-content: space-evenly;
    }

    footer span {
        white-space: nowrap;
    }