* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

body { 
    margin:0;
    font-size:16px;
    position:relative;
}

a {
    color:unset;
    text-decoration: unset;
}

/*** nav ***/
    nav { 
        width:100%; height:60px;
        background-color: rgba(0, 0, 0, 0.8);
        display:flex; justify-content:space-between;
        position:absolute; top:0; z-index: 1;
    }

    #logo {
        height:60px;
        display:flex; align-items: center;
        margin-left: 3em;
        padding: 10px 0;
    }

    #logo img {
        height:100%;
    }

    #menu ul {
        list-style: none;
        height: 100%;
        margin: 0;
        font-size:1.25rem; color:#fff;
        display:flex; align-items: center;
    }

    #menu ul li {
        margin-right: 3em;
        cursor: pointer;
    }

    .menu_btn.active {
        color:red;
    }
/*** End _ nav ***/


/*** content ***/
    .page {
        height:100vh;
    }
    #page1 {
        background:#eee;
    }
    #page2 {
        background:#ddd;
    }
    #page3 {
        background:#eee;
    }
    #page4 {
        background:#ddd;
    }
    #page5 {
        background:#ddd;
        display: flex; flex-direction:column;
    }
    #page5 iframe {
        flex-grow: 1;
    }
    footer {
        padding:3em;
        background:#313131;
        font-size:1.25rem; color:#fff; line-height: 2rem;
        display: flex; justify-content: space-evenly;
    }
/*** End _ content ***/