/* 기본 tag */
    * { font-family: 'Nanum Gothic', sans-serif; color:#fff; }
    *, *::before, *::after { box-sizing: border-box; }
    html, body { width:100%; height:100%; overflow:hidden; }
    body { margin:0; overflow-y:hidden; position:relative; }
    a { text-decoration: unset; color:#fff; }
    ul { margin:0; }

    /* PC */
    @media only screen
    and (min-width : 769px) { :root { font-size:16px; } }
    /* TABLE */
    @media only screen
    and (min-width : 481px) and (max-width : 768px) { :root { font-size:13px; } }
    /* MOBILE */
    @media only screen 
    and (max-width : 480px) { :root { font-size:10px; } }

    .center {
        text-align:center;
    }

/* header */
    #noBounce { position:fixed; width:100%; height:100%; }
    #header { 
        transition:all 0.5s;
        opacity:1; width:100%; height:60px; padding:0 3rem; background-color:#2b2b2be3;
        position:absolute; top:0; left:0; z-index:100;
        display:flex; justify-content:space-between;  align-items:center;
    }
    #header.hide { opacity:0; }
    #logo_wrap, #logo { height:100%; }
    #nav { height:100%; position: relative; }
    #nav > ul { 
        height:100%;list-style: none;
        display: flex; justify-content: space-between; align-items:center;
    }
    #nav > ul > li { margin-left:3rem; position: relative; }
    #nav > ul > li > a { position: relative; cursor:pointer; }
    #nav > ul > li > ul {
        position: absolute; top:52px; right:-15px;
        list-style: none; background-color: #2b2b2be3; padding:20px;
        z-index:-1; opacity:0; transition:all 0.2s;
    }
    #nav > ul > li > ul.act { top:41px; z-index: 100; opacity: 1; }
    #nav > ul > li > ul > li:not(:last-child) { margin-bottom:10px; }
    #nav > ul > li > ul > li { height:25px; cursor:pointer; position:relative; overflow: hidden; }
    #nav > ul > li > ul > li > .underline { width:100%; border-top:1px solid #fff; position:absolute; left:-100%; transition: all 0.2s; }
    #nav > ul > li > ul > li:hover .underline { left:0; }

    /* PC */
    @media only screen
    and (min-width : 769px) {
        #logo_wrap{ padding:0.9em 0; }
    }
    /* TABLE */
    @media only screen
    and (min-width : 481px) and (max-width : 768px) {
        #logo_wrap{ padding:1.1em 0; }
        #nav > ul > li > a { font-size: 1.2rem; }
    }
    /* MOBILE */
    @media only screen 
    and (max-width : 480px) {
        #logo_wrap{ padding:1.4em 0; }
        #nav > ul > li > a { font-size: 1.5rem; }
    }

/* navbar */
    #navbar { z-index:100; transform: translateX(-50%) translateY(-50%); position:fixed; top: 50%; display: flex; flex-direction: column; }
    #navbar .navdot { width: 20px; height: 20px; margin: 0.1rem 0; display: flex; justify-content: center; align-items: center; }
    #navbar .navdot:hover { cursor:pointer; color:#3d619d; }
    #navbar .navdot.act { color:#e42320a1; }

/* content */
    #content_wrap { position:absolute; width: 100%; height: 100%; }
    #content { position:relative; width:100%; height:100%; transition: all 1.0s ease-in-out; }
    #content_mask.s { opacity: 1; z-index: 100; }
    #content_mask {
        width:100%; height:100%; position: absolute; top:0; left:0;
        display: flex; justify-content:center; align-items: center;
        opacity: 0;
        transition: 1s;
        z-index: 100;
    }
    #content_mask > .logo { width:50%; }
    #content > section { position:absolute; width:100vw; will-change:transform; }
    #content.move_page1 { top:0; } #content.move_page2 { top:-100vh; }
    #content.move_page3 { top:-200vh; } #content.move_page4 { top:-300vh; }
    #content.move_page5 { top:-400vh; } #content.move_page6 { top:-500vh; }
    #content.move_page7 { top:-600vh; } #content.move_page8 { top:-700vh; }

    .scale_up.bg.s { transform: scale(1); }
    .scale_up.bg { transform: scale(2); }
    .scale_down.bg.s { transform: scale(2); }
    .scale_down.bg { transform: scale(1); }
    
    .page { height:100vh; overflow: hidden; position: relative; }
    .page .bg {
        width:100%; height:100%; transition: transform 1.5s;
        position: absolute; background-size: cover;
        background-position: center; background-repeat: no-repeat;
    }
    .page .mask { position: absolute; width:100%; height:100%; z-index:2; background:#000; }
    .page .title, .page .desc {  width:100%; z-index:3; }
    .page .title.s { opacity: 0; }
    .page .title { position: absolute; top:0; left:0; opacity: 1; transition: all 1s; margin-top:3rem; text-align:center; }
    .page .desc.s { opacity: 0; }
    .page .desc { position:absolute; opacity:1; transition: all 1s; top:50%; left:50%; word-break: keep-all; transform: translateX(-50%) translateY(-50%); }
    .page .desc .img_wrap { width:100%; height:100%; position: relative; }
    .page .desc .img_wrap img { position:absolute; opacity:1; transition: all 1s; top:50%; left:50%; }
    .page .desc .img_wrap img.s { opacity:0; }

    .page .desc.txt { width:auto; }
    
    .page .desc .title_a.s { opacity: 0; }
    .page .desc .title_a { opacity: 1; transition: all 1s; font-size:3rem; line-height:4.5rem; margin-bottom:2rem; font-weight:bold; }
    .page .desc .desc_a.s { opacity: 0; }
    .page .desc .desc_a { opacity: 1; transition: all 1s; font-size:1.3rem; line-height:2.5rem; }

    #page1 { z-index:50; }
    #page1 .hu_txt { display:none; }
    #page1 .tw-title.s { font-size:0rem; }
    #page1 .tw-title { white-space:nowrap;  }
    #page1 .tw-title,
    .page .title { font-size:3rem; font-weight:bold; }
    #page1 .tw-title::after { content: "|"; transition: all 0.1s; animation: blink 0.5s linear infinite alternate; }
    @keyframes blink { 0%{ opacity:0 } 100%{ opacity:1 } }

    #page5 .page .title { line-height:3rem; padding-top: 1rem; }
    #page5 .page .title span { font-weight:normal; font-size:2.0rem; font-weight: normal; }

    #google_map_footer.page { display: flex; flex-direction:column; position:relative; }
    #google_map_footer .map_mask { width:100%; height:100%; position:absolute; top:0; left:0; z-index:1; display: flex; justify-content: center; align-items: center; }
    #map_view_btn { opacity:0; background:#313131; border: none; border-radius: 5px; padding: 0.5em 1em; box-shadow: 0px 7px 17px 0px #7b7b7b; transition: all 0.5s; }
    #google_map_footer .map_mask:hover #map_view_btn { opacity:1; }
    #google_map_footer.page iframe { flex-grow: 1; }
    footer { z-index:2; padding:3em; background:#232323; font-size:1rem; line-height: 2rem; display: flex; justify-content: space-evenly; }
    footer span { white-space: nowrap; }

    /* PC */
    @media only screen
    and (min-width : 769px) {
        #navbar { right: 1.0rem; font-size:0.8rem; }

        .page .desc.txt { transform: translateX(-70%) translateY(-50%); }
        .page .desc.txt .desc_a { width:75%; }

        #page2 .bg { background-image:url('./asset/images/bg/2.jpeg'); }
        #page3 .bg { background-image:url('./asset/images/bg/3.jpeg'); }
        #page3 .desc { transform: translateX(-70%) translateY(-90%); }
        #page6 .bg { background-image:url('./asset/images/bg/6.jpg'); }
        #page6 .desc { transform: translateX(-70%) translateY(20%); }

        #img4_1 { width:19%; transform: translateX(-164%) translateY(-38%); }
        #img4_2 { width:39%; transform: translateX(-26%) translateY(-43%); }
        #img5_1 { width:39%; transform: translateX(-50%) translateY(-37%); 
            content:url('./asset/images/bg/5_1.png');
        }
        #img5_2 { width:73%; transform: translateX(-50%) translateY(-40%);
            content:url('./asset/images/bg/5_2.png');
        }

        footer { flex-direction: row; padding:3em; }
        footer > img { margin-right:3em; height:42px; }
    }
    /* TABLE */
    @media only screen
    and (min-width : 481px) and (max-width : 768px) {
        #navbar { right: 1.0rem; }
        
        .page .desc.txt { transform: translateX(-50%) translateY(-50%); }

        .page .desc .title_a { text-align:center; }
        .page .desc .desc_a { text-align:center; width:50%; margin:auto; }

        #page2 .bg { background-image:url('./asset/images/bg/2.jpeg'); }
        #page3 .bg { background-image:url('./asset/images/bg/3.jpeg'); }
        #page6 .bg { background-image:url('./asset/images/bg/6.jpg'); }

        #img4_1 { width:22%; transform: translateX(-164%) translateY(-38%); }
        #img4_2 { width:43%; transform: translateX(-26%) translateY(-43%); }
        #img5_1 { width:70%; transform: translateX(-50%) translateY(-30%);
            content:url('./asset/images/bg/5_1_m.png');
        }
        #img5_2 { width:75%; transform: translateX(-50%) translateY(-32%);
            content:url('./asset/images/bg/5_2_m.png');
        }

        footer { flex-direction: column; padding:1em; }
        footer > img { width:40%; margin: 1rem 0 1.7rem 0; }
    }
    /* MOBILE */
    @media only screen 
    and (max-width : 480px) {
        #navbar { right: -1.0rem; }

        .page .title { padding:0 0.3em; }
        .page .desc { font-weight:bold; }
        .page .desc.txt { width: 100%; transform: translateX(-50%) translateY(-50%); }
        .page .desc .title_a { text-align:center; }
        .page .desc .desc_a { text-align:center; padding:0 3rem; font-size:1.8rem; font-weight: normal; line-height:2.7rem; }

        #page2 .bg { background-image:url('./asset/images/bg/2_m.jpg'); }
        #page3 .bg { background-image:url('./asset/images/bg/3_m.jpeg'); }
        #page6 .bg { background-image:url('./asset/images/bg/6_m.jpeg'); }

        #img4_1 { width:30%; transform: translateX(12%) translateY(21%); }
        #img4_2 { width:75%; transform: translateX(-50%) translateY(-62%); }
        #img5_1 { width:83%; transform: translateX(-50%) translateY(-37%);
            content:url('./asset/images/bg/5_1_m.png');
        }
        #img5_2 { width:91%; transform: translateX(-50%) translateY(-39%);
            content:url('./asset/images/bg/5_2_m.png');
        }
        
        footer { flex-direction: column; padding:1em; }
        footer > img { width:40%; margin: 1rem 0 1.7rem 0; }
        footer span:last-child { line-height: 4rem;}
    }



