#noBounce {
    position:fixed;
    width:100%;
    height:100%;
}

/* header */
    #header {
        width:100%;
        height:60px;
        padding:0 3rem;
        display: flex;
        justify-content: space-between;
        background-color:#2b2b2be3;
        display: flex;
        align-items: center;
        position:absolute; top:0; left:0;
        z-index:100;
    }
    #logo_wrap {
        height: 100%;
        padding:0.8rem 0;
    }
    #header #logo {
        height:100%;
    }
    #nav {
        height:100%;
        position: relative;
    }
    #nav > ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items:center;
        height:100%;
    }
    #nav > ul > li {
        margin-left:3rem;
        position: relative;
    }
    #nav > ul > li > a {
        position: relative;
        cursor:pointer;
    }
    #nav > ul > li > ul {
        position: absolute;
        top:52px; right:-15px;
        list-style: none;
        background-color: #2b2b2be3;
        padding:20px;
        opacity:0;
        z-index:-1;
        transition:all 0.2s;
    }
    #nav > ul > li > ul.act {
        opacity: 1;
        z-index: 100;
        top:42px;
    }
    #nav > ul > li > ul > li:not(:last-child) {
        margin-bottom:10px;
    }
    #nav > ul > li > ul > li {
        cursor:pointer;
        position:relative;
        height:25px;
        overflow: hidden;
    }
    #nav > ul > li > ul > li > .underline {
        width:100%;
        border-top:1px solid #fff;
        position:absolute;
        left:-100%;
        transition: all 0.2s;
    }
    #nav > ul > li > ul > li:hover .underline {
        left:0;
    }

/* content */
    body { overflow-y:hidden; }
    #content {
        position:relative;
        transition: all 1.0s ease-in-out;
    }
    #content > section {
        position:absolute;
        width:100vw;
        will-change: transform;
    }
    #content.move_page1 { top:0; }
    #content.move_page2 { top:-100vh; }
    #content.move_page3 { top:-200vh; }
    #content.move_page4 { top:-300vh; }
    #content.move_page5 { top:-400vh; }
    #content.move_page6 { top:-500vh; }
    #content.move_page7 { top:-600vh; }
    #content.move_page8 { top:-700vh; }

    .page {
        height:100vh;
        overflow: hidden;
        position: relative;
    }
    .page .bg {
        position: absolute;
        width:100%;
        height:100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 1.5s;
    }
    .page .desc1 {
        color:#fff;
        position: absolute;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    #main .logo_mask {
        background:#fff;
        z-index:10;
        transition: all 1s;
        opacity: 0;
    }
    #main .logo_mask.s { opacity: 1; }

    #main .logo_wrap {
        position:absolute;
        width:30rem;
        top:50%; left:50%;
        transform: translate(-50%, -50%);
    }
    #main .logo_wrap img { width:100%; }
    #main .tw-title.s {
        opacity: 0;
    }
    .hu_txt {
        display:none;
    }
    #main .tw-title, .page .desc2 .title {
        font-size:2.5rem;
        font-weight: bold;
    }
    #main .tw-title::after {
        content: "|";
        color:#fff;
        transition: all 0.1s;
        animation: blink 0.5s linear infinite alternate;
    }
    @keyframes blink {
        0%{ opacity:0 }
        100%{ opacity:1 }
    }

    .scale_up.bg.s { transform: scale(1); }
    .scale_up.bg { transform: scale(2); }
    .scale_down.bg.s { transform: scale(2); }
    .scale_down.bg { transform: scale(1); }

    .page .cover {
        width:100%;
        height:100%;
        z-index: 1;
        position: absolute; top:0; left:0;
        background:#0000002e;
    }

    .page .desc2 {
        color:#fff;
        position: absolute;
        top:25%; left:10%;
        opacity: 1;
        z-index: 2;
        width:100%;
    }

    .page .desc2 .title.s {
        opacity:0;
    }
    .page .desc2 .title {
        margin-bottom:2rem;
        line-height:4.5rem;
        opacity:1;
        transition: 1s;
    }
    .page .desc2.center {
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        text-align:center;
    }
    .page .desc2 .title .small {
        font-weight: normal;
        font-size: 1.5rem;
    }
    
    .page .desc2 .body.s {
        opacity:0;
    }
    .page .desc2 .body {
        font-size:1.3rem;
        line-height:2.3rem;
        opacity:1;
        transition: 1s;
    }

    .page .desc2 .body .next.s {
        opacity:0;
    }

    .page .desc2 .body .next {
        opacity:1;
        transition: 1s;
    }
    
    #google_map_footer.page {
        display: flex; flex-direction:column;
        position:relative;
    }
    #google_map_footer .map_mask {
        width:100%;
        height:100%;
        position:absolute;
        top:0; left:0;
        z-index:1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #map_view_btn {
        opacity:0;
        background:#313131;
        border: none;
        border-radius: 5px;
        padding: 0.5em 1em;
        color: #fff;
        box-shadow: 0px 7px 17px 0px #7b7b7b;
        transition: all 0.5s;
    }
    #google_map_footer .map_mask:hover #map_view_btn {
        opacity:1;
    }
    #google_map_footer.page iframe {
        flex-grow: 1;
    }


/* footer */
    footer {
        z-index:2;
        padding:3em;
        background:#313131;
        font-size:1.1rem; color:#fff; line-height: 2rem;
        display: flex; justify-content: space-evenly;
    }

    footer span {
        white-space: nowrap;
    }